cryptography
mysql-connector-python==8.0.33
python-dotenv
Flask
Flask-Cors
gunicorn
pillow
qrcode
pyngrok
PyYAML
blinker
click
colorama
itsdangerous
Jinja2
MarkupSafe
packaging
protobuf
pypng
typing_extensions
Werkzeug
twilio
fpdf2
certifi
